<table>
    <tr>
        <td> 
            <button class="btn btn-success" (click)="loadAirlines()" > SHOW </button>    
        </td>
    </tr>
</table>

<br/>


<div [hidden]="airlines.length === 0">
    <table class="table table-hover">
        <thead>
            <th scope="col">name</th>
        </thead>
        <tbody>
            <tr *ngFor="let ac of airlines" 
            [class.selected]="ac === selectedAirline"
            (click)="onSelect(ac)">
                    <td>
                        <span class="badge">{{ ac.rate}}</span> {{ac.name}}
                    </td>
            </tr>

        </tbody>
    </table>
</div>

<div *ngIf="selectedAirline">
    <h2>{{selectedAirline.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedAirline.rate}}</div>
    <div>
        <label>name:
            <input [(ngModel)] = "selectedAirline.name" placeholder="name"/>
        </label>
    </div>
    <div>
        <label>address:
            <input [(ngModel)] = "selectedAirline.address" placeholder="address"/>
        </label>
    </div>
    <div>
        <label>description:
            <input [(ngModel)] = "selectedAirline.description" placeholder="description"/>
        </label>
    </div>
</div>
